[submodule "Rimups/Ants"]
	path = Rimups/Ants
	url = https://github.com/soulkata/rimworld.git
[submodule "AntsA12Buggy"]
	path = AntsA12Buggy
	url = https://github.com/soulkata/rimworld.git
[submodule "<path>"]
	ignore = dirty
[submodule "<AntsA12Buggy>"]
	ignore = dirty
[submodule "Ants"]
	path = Ants
	url = https://github.com/soulkata/rimworld.git
